<%- include('partials/header.ejs') %>
<section class="other">
  <div class="container" data-aos="fade">
    <div class="other-text">
      <h1  data-aos="fade-up" data-aos-delay="300">About Us</h1>
      <p class="path" data-aos="fade" data-aos-duration="400"><a href="/">Home</a> <i class="fas fa-angle-right"></i>
 About Us</p>
      <p class="desc" data-aos="fade-down" data-aos-duration="500">
        Nexa is a forward-thinking technology company built to empower
        startups and innovators. We combine creativity, strategy, and advanced
        development
      </p>
    </div>
  </div>
</section>

 <%-include('partials/tech-ambition.ejs') %>
<%- include('partials/trust-section.ejs') %>
<%-include('partials/team-section.ejs') %>
<section class="final-cta-section">
  <div class="container">
    <div class="final-cta-card" data-aos="fade-up">
      <div class="cta-overlay"></div>

      <div class="cta-content">
        <h1 data-aos="fade-up" data-aos-delay="100">
          Ready to simplify your workflow?
        </h1>

        <p data-aos="fade-up" data-aos-delay="200">
          Start free today and experience the difference in less than 10 minutes.
        </p>

        <a
          href="#get-started"
          class="btn btn-primary cta-btn"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          Try it free today <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>
