<%- include('partials/header.ejs') %>
<section class="other">
  <div class="container" data-aos="fade">
    <div class="other-text">
      <h1 data-aos="fade-up" data-aos-delay="300">Our Services</h1>
      <p class="path" data-aos="fade" data-aos-duration="400">
        <a href="/">Home</a> <i class="fas fa-angle-right"></i> Our Services
      </p>
      <p class="desc" data-aos="fade-down" data-aos-duration="500">
        At Nexa, we provide end-to-end technology solutions designed to help
        startups innovate, scale, and succeed. From product design to
        development
      </p>
    </div>
  </div>
</section>
<%- include('partials/building-technology.ejs') %>
<%-include('partials/tech-section.ejs') %>
<%- include('partials/user-love.ejs')%>
<%-include('partials/flexible-plans.ejs') %> 
<%- include('partials/footer.ejs') %>
